*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#dashBoard-board {
  color: #EBAA39;
}

.manager-logoImg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  cursor: pointer;
}

#manager-dashBoardBox {
  width: 1380px;
  height: 600px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: lightgray;

}

#dashBoard-list {
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

#dashBoard-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#dashBoard-list li {
  margin-left: 10px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #EBAA39;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
}

#dashBoard-admin {
  color: black;
}

#dashBoard-span {
  position: absolute;
  top: 7%;
  left: 12%;
}

#dashBoard-profile {
  position: absolute;
  left: 6%;
  width: 50px;
  height: 50px;
}

#manage-member {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 5px;

}

#manage-memberTop {
  height: 15%;
}

#manage-memberBold {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

#memberOut {
  position: relative;
  top: 5%;
  left: 45%;
  width: 100px;
  height: 40px;
  background-color: #EBAA39;
  color: white;
  border-radius: 5px;
  border: white;
  cursor: pointer;
  
}

#manage-register {
  width: 95%;
  height: 70%;
  margin: 0 auto;
  background-color: aliceblue;
}






